.htmleditor .middleColumn {
    margin-left: 183px;
    clear: left;
    margin-top: -20px;
    float: left;
}
.htmleditor label.left {
    padding-bottom: 4px;
    float: left;
}
.add-accordian-button {
    margin-left: 555px;
}
.update-accordian-button {
    display: none;
    margin-left: 537px;
}
#AccordianElementContainer table {
    width: 694px;
    border: 1px solid #999;
    margin-top: 10px;
}
#AccordianElementContainer table th {
    background-color: #999;
    color: #fff;
    padding: 5px;
}
#AccordianElementContainer table th.edit-header,
#AccordianElementContainer table th.delete-header {
    width: 30px;
}
#AccordianElementContainer table td {
    padding: 5px;
}
#AccordianElementContainer table td p {
    margin-bottom: 0;
}